[package]
name = "ias-verify"
version = "0.1.1"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
edition = "2018"

[dependencies]
base64 = { version = "0.11", default-features = false, features = ["alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
chrono = { version = "0.4", default-features = false }

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.0'

[dependencies.frame-support]
default-features = false
version = '2.0.0-rc5'

[dependencies.sp-std]
default-features = false
version = '2.0.0-rc5'

[dependencies.sp-io]
default-features = false
version = '2.0.0-rc5'
features = ["disable_panic_handler", "disable_oom"]

[dependencies.sp-core]
default-features = false
version = '2.0.0-rc5'

[dependencies.webpki]
git = 'https://github.com/Phala-Network/phala-blockchain.git'
rev = "7d342012105f2125ca0e48a3b9c702176af23471"
default_features = false

[dev-dependencies]
hex-literal = "*"

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'sp-std/std',
    'sp-io/std',
    'serde_json/std',
    'webpki/std',
]